body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 72px);
  padding: 36px;
  margin: 0;
}

:root {
  --fontsizeSmall: 16px;
  --fontsizeMedium: 32px;
  --fontsizeBig: 100px;
}

* {
  color: white;
  font-family: helveticaneue;
  src: url(helveticaneue.woff);
  font-weight: 55;
  font-style: normal;
}

.row_1 p {
  font-size: var(--fontsizeMedium);
  margin: 0;
}

.row_2 {
  padding-left: auto;
  padding-right: auto;
}

.row_2 p {
  font-size: var(--fontsizeBig);
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  width: 100%;
}

.row_2 p.desktop {
  display: inline-flex;
}
.row_2 p.mobile {
  display: none;
}

.row_2 > .cone {
  position: absolute;
  left: 60%;
  width: 480px;
  height: 480px;
  margin-top: 40px;
  z-index: -1;
}

.row_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row_3 span {
  font-size: var(--fontsizeSmall);
}
.row_3 span:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}




@media screen and (max-width: 1080px) {
  .row_2 p.desktop {
    display: none!important;
  }
  .row_2 p.mobile {
    display: inline-flex!important;
  }
  .row_2 > .cone {
    left: 55%;
    margin-top: 10px;
  }
}



@media screen and (max-width: 680px) {
  :root {
    --fontsizeSmall: 12px;
    --fontsizeMedium: 16px;
    --fontsizeBig: 11vw;
  }

  body {
    padding: 20px;
    overflow-x: hidden;
  }

  .row_2 p.desktop {
    display: none!important;
  }
  .row_2 p.mobile {
    display: inline-flex!important;
  }
  .row_2 > .cone {
    right: -16%;
    left: unset;
    margin-top: -20px;
    width: 70%;
    height: auto;
  }

  .row_3 {
    flex-direction: column;
    height: 5em;
    width: 100%;
    align-self: flex-end;
  }
}
